body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.navbar-brand > img {
    margin-top: -7px;
}

/* categoria.jps */
.imagemProduto {
    width: 30%;
    float: left;
    padding: 2%;
}

.descCategoria {
    width: 60%;
    float: left;
    padding: 2%;
}

/* Table Base */
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    font-family: arial;
}

.table {
    /* 	border-bottom: #999999 solid 1px; */
    width: 100%;
    margin-bottom: 20px;
}

.table th, .table td {
    /* 	border-right: #999999 solid 1px; */
    /* 	font-size: 12px; */
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.table td:last-child {
    /* 	border-right: 0; */
}

.table thead th {
    /* 	font-weight: normal; */
    /* 	background-color: #005dab; */
    /* 	color: #fff; */
    /* 	font-size: 15px; */
}

.table tbody > tr:nth-child(odd) > td, .table tbody > tr:nth-child(odd) > th {
    /* 	background-color: #f8f8f8; */
}

/* Small Sizes */
@media (max-width: 767px) {
    /* Responsive Table */
    .table-responsive {
        display: block;
        position: relative;
        width: 100%;
    }

    .table-responsive thead, .table-responsive tbody, .table-responsive th,
    .table-responsive td, .table-responsive tr {
        display: block;
    }

    .table-responsive td, .table-responsive th {
        height: 35px;
    }

    .table-responsive thead {
        float: left;
    }

    .table-responsive tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .table-responsive tbody tr {
        display: inline-block;
    }

    .table td:last-child {
        /* 		border-right: #999999 solid 1px; */
    }

    .header_login {
        width: 90%;
        margin: auto;
    }

    .fechar {
        margin: 5px;
        font-size: 12px;
    }

    #entrar_button {
        padding: 5px;
    }
}


/*Form Wizard*/
.bs-wizard {margin-top: 40px;}
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 16px; height: 16px; display: block; background: #09B4AC; top: 45px; left: 50%; margin-top: -7px; margin-left: -8px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; background-color: #e5e5e5; overflow: hidden;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #09B4AC;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #e5e5e5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/