<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6 col-md-4" ng-repeat="category in categories">
            <div class="thumbnail">
                <a ui-sref="viewCategory({id:category.id})"><img src="{{ category.image}}" height="400px" width="300px"></a>
                <div class="caption">
                    <h3><a ui-sref="viewCategory({id:category.id})">{{ category.name}}</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>
