<div class="jumbotron text-center">
    <form class="form-horizontal" role="form" ng-submit="submitForm()" ng-controller="findSeller">

        <div class="form-group">
            <div ng-if="error.message" class="alert alert-danger" role="alert">
                <p id="error">{{error.message}}</p>
            </div>
            <input type="text" class="form-control" name="id" ng-model="form.id" placeholder="Código ou nick name do seu vendedor" required>
        </div>

        <button type="submit" class="btn btn-default">Acessar</button>
    </form>

</div>