<!DOCTYPE html>
<html data-ng-app="sellerApp" ng-controller="MainContoller">
    <head lang="pt-br">
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META charset="utf-8">
        <META http-equiv="X-UA-Compatible" content="IE=edge">
        <META NAME="viewport" content="width=device-width, initial-scale=1">
        <META NAME="description" CONTENT="Conheça a Alabastrum, a empresa de Marketing Multinível que vai mudar a sua vida!">
        <META NAME="keywords" CONTENT="Alabastrum, costmeticos, rio de janeiro, qualidade, marketing, Multinivel">
        <META NAME="author" CONTENT="HD Soluçoes Web">
        <META NAME="revisit-after" CONTENT="1">

        <base href="/"/>
        <title ng-bind="config.title">Loja Alabastrum</title>

        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/font-awesome.min.css" />
        <link rel="stylesheet" href="css/custom.css" />

    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" ui-sref="home()"><img src="img/tamplate/logo.fw.png"/></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="mySalles()"><i class="fa fa-home"></i> Minhas Vendas</a></li>
                        <li><a ui-sref="myAccount()"><i class="fa fa-user"></i> Minha Conta({{authenticatedSeller.nickName}})</a></li>
                        <li ng-if="authenticatedSeller"><a ui-sref="logoutSeller()"><i class="fa fa-sign-out"></i> Sair</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="container theme-showcase" role="main" id="main">

            <div ui-view></div>

        </div>

        <footer class="text-center">
        </footer>
        <script type="text/javascript" src="js/config/config.js"></script>
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="js/angular-resource.min.js"></script>
        <script type="text/javascript" src="js/angular-cookies.min.js"></script>
        <script type="text/javascript" src="js/seller/sellerApp.js"></script>
        <script type="text/javascript" src="js/seller/controllers.js"></script>
        <script type="text/javascript" src="js/seller/services.js"></script>
    </body>
</html>