<div class="container">

    <form class="form-signin" ng-submit="submitForm()" ng-controller="authenticateSeller">
        <h2 class="form-signin-heading">Identificação</h2>
        <div ng-if="error.message" class="alert alert-danger" role="alert">
            <p id="error">{{error.message}}</p>
        </div>
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input type="email" id="inputEmail" ng-model="formData.email" class="form-control" placeholder="E-mail" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" ng-model="formData.password" class="form-control" placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

    <a ui-sref="alabastrumSellerFirtAccess()">Meu primeiro acesso</a>

</div>

<link rel="stylesheet" href="css/login.css" />