<div class="container">

    <form class="form-signin" ng-submit="submitForm()">
        <h2 class="form-signin-heading">Primeiro acesso</h2>
        <div ng-if="error.message" class="alert alert-danger" role="alert">
            <p id="error">{{error.message}}</p>
        </div>
        <div class="alert alert-info" role="info">
            <p id="info">Utilize seus dados de acesso no escritório virtual da Alabastrum.</p>
        </div>
        <label for="inputEmail" class="sr-only">Código</label>
        <input type="text" id="inputEmail" ng-model="formData.email" class="form-control" placeholder="Seu código Alabastrum" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" ng-model="formData.password" class="form-control" placeholder="Sua senha no escritório virtual" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    </form>

</div>

<link rel="stylesheet" href="css/login.css" />