<div class="container" ng-controller="myAccountController">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Meus Dados
            </h3>
            <div class="row">
                <div class="col-md-7">
                    <!--<form class="form-signin" ng-submit="submitForm(category)" ng-controller="teste">-->
                    <form class="form-signin" ng-submit="submitForm(account)">
                        <div ng-if="error.message" class="alert alert-danger" role="alert">
                            <p id="error">{{error.message}}</p>
                        </div>
                        <div ng-if="sucess" class="alert alert-success" role="alert">
                            <p id="sucess">{{sucess}}</p>
                        </div>
                        <div ng-include="'form/account.html'"></div>
                        <div class="form-group">
                            <label>
                                Código:
                            </label>
                            <input type="text" class="form-control" id="code" name="name" required="" ng-model="account.code"/>
                        </div>
                        <hr>
                        <div  class="col-xs-3">
                            <button class="btn btn-success btn-block" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>