<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h4 class="col-md-12">
                Pedidos pagos
            </h4>
            <div class="row">
                <div class="col-md-12">
                    <form class="form-signin" ng-submit="filter(filterFormData)">
                        <div  ng-if="error.message" class="alert alert-dismissable alert-danger">
                            <p id="error">
                                {{error.message}}
                            </p>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="col-md-3 control-label" for="recipient">Data Inicial</label>
                            <div class="col-md-3">
                                <input id="dtStart" type="date" name="dtStart" ng-model="filterFormData.dtStart" class="form-control input-md" required="">
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="col-md-3 control-label" for="recipient">Data Final</label>
                            <div class="col-md-3">
                                <input id="dtEnd" type="date" name="dtEnd" ng-model="filterFormData.dtEnd" class="form-control input-md" required="">
                            </div>
                            <div class="col-md-6"></div>
                        </div>
                        <div  class="col-xs-3">
                            <button class="btn btn-success btn-block" type="submit">Filtrar</button>
                        </div>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row" ng-if="seller.ordersJson">
                <div class="col-md-12">

                    <div class="list-group">
                        <div ng-repeat="order in seller.ordersJson" class="list-group-item">

                            <div  class="row">
                                <div class="col-md-12">
                                    <h4>Pedido nº {{order.id}}</h4>
                                    <div class="col-md-4">
                                        <h5><strong>Produtos</strong></h5>
                                        <ul class="list-unstyled">
                                            <li ng-repeat="product in order.cart.products">
                                                {{product.quantity}} x {{product.name}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Data de pagamento: {{ order.dtPaid | date:'dd/MM/yyyy'}}</p>
                                        <p>Valor do Pedido {{ order.cart.totalPriceProducts | currency:'R$ '}}</p>
                                        <p>Valor do Frete: {{ order.cart.freightCost | currency:'R$ '}}</p>
                                        <p>Valor do Total {{ order.cart.freightCost + order.cart.totalPriceProducts | currency:'R$ '}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <p>Total de pedidos: {{seller.ordersJson.length}}</p>
                            <p>Total de produtos: {{seller.sellerTotalProducs}}</p>
                            <p>Valor total de produtos: {{seller.sellerTotalPriceProducts| currency:'R$ '}}</p>
                            <p>Valor total de frete: {{seller.sellerTotalFreightCost| currency:'R$ '}}</p>
                            <p>Valor total dos pedidos: {{seller.sellerTotalPriceProducts + seller.sellerTotalFreightCost| currency:'R$ '}}</p>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>