<html><head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/custom.css">
    </head><body>              
        <div ng-include="'administrador/partials/popupGallery.html'"></div>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header">
                            <h2>Cadastro de Categoria</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="alert alert-danger alert-dismissable" ng-if="error.message">{{error.message}}</div>
                        <div class="alert alert-dismissable alert-success" ng-if="sucess">{{sucess}}</div>
                        <form role="form">
                            <div class="form-group has-feedback">
                                <label class="control-label">Nome</label>
                                <input class="form-control" id="name" placeholder="Nome da categoria. Ex.: Perfume" type="text" required="" ng-model="category.name">
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label">Imagem</label>
                                <input class="form-control" type="text" id="image" placeholder="URL da imagem" required="" ng-model="category.image">
                                <a href="#" data-toggle="modal" data-target="#galeriaModal"><i class="fa fa-sign-in"></i> galeria</a>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label">Tipo</label>
                                <select id="layout" name="type" class="form-control" ng-model="category.type" ng-change="getLayouts()">
                                    <option ng-repeat="type in types" value="{{type.name}}">{{type.frontName}}</option>
                                </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label">Layout</label>
                                <select id="layout" name="layoutFile" class="form-control" ng-model="category.layoutFile">
                                    <option ng-repeat="(name, value) in layouts" value="{{value}}">{{name}}</option>
                                </select>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="control-label">Descrição</label>
                                <textarea cols="40" rows="5" class="form-control" id="description" name="description" placeholder="Descrição sobre a categoria." required="" ng-model="category.description"></textarea>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-success btn-block" ng-click="saveCategory()">Salvar</button>
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-danger btn-block" ng-click="deleteCategory()">Excluir</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-4">
                        <a class="list-group-item text-lef active">Categorias</a>
                        <a class="list-group-item text-lef" href="" ng-repeat="category in categories" ng-click="editCategory(category)">{{category.name}}</a>
                        <a class="list-group-item text-lef" href="" ng-click="clearCategory()">Adicionar</a>
                    </div>
                </div>
            </div>
        </div>


    </body></html>
