<html><head>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/custom.css">
  </head><body>
    <div class="container" ng-controller="financialController">
      <div class="row">
        <div class="col-md-12">
          <h3>Financeiro</h3>
          <div class="row">
            <div class="col-md-12">
              <h4>Baixa de boleto</h4>
              <form class="form-signin" ng-submit="confirmPayment(confirmPaymentFormData)" ng-init="confirmPaymentFormData = {}">
                <div ng-if="error.message" class="alert alert-dismissable alert-danger">
                  <p id="error">{{error.message}}</p>
                </div>
                <div ng-if="sucess" class="alert alert-dismissable alert-success">
                  <p id="sucess">{{sucess}}</p>
                </div>
                <div class="form-group">
                  <label for="name">Boleto</label>
                  <input type="text" class="form-control" id="transaction" name="transaction" placeholder="0000-0" required="" ng-model="confirmPaymentFormData.transaction">
                </div>
                <div class="col-xs-3">
                  <button class="btn btn-success btn-block" type="submit">Confirmar pagamento</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <hr>
        <br>
        <div class="row">
          <div class="col-md-12">
            <h4 class="col-md-12">Pedidos pagos</h4>
            <div class="row">
              <div class="col-md-12">
                <form class="form-signin" ng-submit="filter(filterFormData)">
                  <div ng-if="error.message" class="alert alert-dismissable alert-danger">
                    <p id="error">{{error.message}}</p>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-3 control-label" for="recipient">Data Inicial</label>
                    <div class="col-md-3">
                      <input id="dtStart" type="text" name="dtStart" ng-model="filterFormData.dtStart" class="form-control input-md" required="">
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="col-md-3 control-label" for="recipient">Data Final</label>
                    <div class="col-md-3">
                      <input id="dtEnd" type="text" name="dtEnd" ng-model="filterFormData.dtEnd" class="form-control input-md" required="">
                    </div>
                    <div class="col-md-6"></div>
                  </div>
                  <div class="col-xs-3">
                    <button class="btn btn-success btn-block" type="submit">Filtrar</button>
                  </div>
                </form>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <div ng-repeat="seller in sellers" class="row">
                  <div class="col-md-12">
                    <div class="list-group">
                      <a class="list-group-item active">{{seller.name}}</a>
                      <div ng-repeat="order in seller.ordersJson" class="list-group-item">
                        <div class="row">
                          <h4>Pedido nº {{order.id}}</h4>
                          <div class="col-md-4">
                            <h5>
                              <strong>Produtos</strong>
                            </h5>
                            <ul class="list-unstyled">
                              <li ng-repeat="product in order.cart.products">{{product.quantity}} x {{product.name}}</li>
                            </ul>
                          </div>
                          <div class="col-md-4">
                            <p>Data de pagamento: {{ order.dtPaid | date:'dd/MM/yyyy'}}</p>
                            <p>Valor do Pedido {{ order.cart.totalPriceProducts | currency:'R$ '}}</p>
                            <p>Valor do Frete: {{ order.cart.freightCost | currency:'R$ '}}</p>
                            <p>Valor do Total {{ order.cart.freightCost + order.cart.totalPriceProducts
                              | currency:'R$ '}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="list-group-item">
                        <p>Total de pedidos: {{seller.ordersJson.length}}</p>
                        <p>Total de produtos: {{seller.sellerTotalProducs}}</p>
                        <p>Valor total de produtos: {{seller.sellerTotalPriceProducts| currency:'R$
                          '}}</p>
                        <p>Valor total de frete: {{seller.sellerTotalFreightCost| currency:'R$ '}}</p>
                        <p>Valor total dos pedidos: {{seller.sellerTotalPriceProducts + seller.sellerTotalFreightCost|
                          currency:'R$ '}}</p>
                      </div>
                    </div>
                  </div>
                  <hr>
                </div>
                <div ng-if="sellers.length > 0">
                  <p>Vendedores: {{sellers.length}}</p>
                  <p>Produtos vendidos: {{stotalProducs}}</p>
                  <p>Total de produto: {{totalPriceProducts| currency:'R$ '}}</p>
                  <p>Total de frete: {{totalFreightCost| currency:'R$ '}}</p>
                  <p>Total: {{totalPriceProducts + totalFreightCost| currency:'R$ '}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body></html>