<html><head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/custom.css">
    </head><body>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="page-header">
                            <h2>Galeria</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <div class="alert alert-danger alert-dismissable" ng-if="error">{{error}}</div>
                        <div class="alert alert-dismissable alert-success" ng-if="sucess">{{sucess}}</div>
                        <form role="form">
                            <div class="form-group">                               
                                <input class="form-control" id="imageName" placeholder="Filtro" type="text" ng-model="filtro">
                                <br>
                            </div>                                                        
                            <div class="row">
                                <div class="col-md-4" ng-repeat="image in images| filter:filtro | orderBy:'name'">
                                    <a><img src="{{image.url}}" class="img-responsive" id="{{image.id}}" ng-click="selectImage(image)"  height="200px" width="200px" ></a> 
                                    <h3 class="text-center">{{image.name}}</h3>                                
                                </div>
                            </div>
                            <br>                            
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-header">
                                        <h2>+ Imagem</h2>
                                    </div>                                    
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" id="imageName" placeholder="Nome da imagem" type="text" ng-model="image.name" maxlength="15">
                                </div>
                                <br>
                                <input type="file" name="imageFile" id="imageFile" ng-model="image.file"/> 
                                <!--                                                                onchange="angular.element(this).scope().uploadFile(this.files)"                               -->
                            </div>

                            <div class="col-xs-3">
                                <button class="btn btn-success btn-block" ng-click="saveImage()">Salvar</button>
                            </div>                           
                        </form>
                    </div>                                                            
                    <div class="col-md-2">                        
                        <!--                                                <a class="list-group-item text-lef active"></a>
                                                                        <img class="img-responsive" href="" ng-repeat="selectImg in selectedImages" src="{{selectImg.url}}" height="100px" width="101px">
                                                                        <br>
                                                                        <div class="col-xs-3">
                                                                            <button class="btn btn-danger btn-block" ng-click="deleteImage()">Excluir</button>
                                                                        </div>                        -->
                        <div class="row">
                            <a class="list-group-item text-lef active">Selecionadas</a>
                            <br>
                            <div class="col-md-4" ng-repeat="selectImg in selectedImages">
                                <a><img src="{{selectImg.url}}" height="80px" width="80px" class="list-group-item text-lef"></a>                                     
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-danger btn-block" ng-click="deleteImage()">Excluir</button>
                    </div>
                </div>
            </div>
        </div>
    </body></html>

<!--https://www.script-tutorials.com/photo-gallery-with-angularjs-and-css3/-->