<div class="jumbotron text-center">

    <div class="alert alert-info" role="alert">
        <h4>
            <strong>Lincença do produto:</strong>
        </h4>
        <p>Este sistema está licenciado para uso até o dia {{expirationDate.expirationDate}}.</p>
        <p>A renovação é feita automaticamente ao confirmar o pagamento.</p>
    </div>

    <div class="alert alert-info" role="alert">
        <h4>
            <strong>Manual:</strong>
        </h4>
        <p>É de extrema importãncia que todos os envolvidos na administração leiam o manual do sistema e mantenham-se atualizados.</p>
        <p><a href="http://wiki.hisellerweb.com.br">Manual</a></p>
        <p></p>
        <p>Em caso de dúvida, envie um e-mail para o nosso suporte. <a href="mailto:suporte@hisellerweb.com.br">suporte@hisellerweb.com.br</a></p>
    </div>

</div>