<div id="galeriaModal" class="fade modal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Galeria</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4" ng-repeat="image in galleryImages| filter:filtro | orderBy:'name'">
                        <a><img src="{{image.url}}" class="img-responsive" id="{{image.id}}" ng-click="selectImage(image)"  height="200px" width="200px" data-dismiss="modal"></a> 
                        <h3 class="text-center">{{image.name}}</h3>                                
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>