<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Preparação
            </h2>
            <hr>
            <div ng-if="error.message" class="alert alert-danger" role="alert">
                <p id="error">{{error.message}}</p>
            </div>
            <div ng-if="sucess" class="alert alert-success" role="alert">
                <p id="sucess">{{sucess}}</p>
            </div>
            <div ng-repeat="order in orders">
                <div  class="row">
                    <h3>Pedido nº {{order.id}}</h3>
                    <div class="col-md-4">
                        <h4>Produtos</h4>
                        <ul class="list-unstyled">
                            <li ng-repeat="product in order.cart.products">
                                {{product.quantity}} x {{product.name}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Destinatário</h4>
                        <p>{{order.deliveryAddress.recipient}}</p>
                        <h4>Endereço de entrega</h4>
                        <p>{{order.deliveryAddress.street}}, {{order.deliveryAddress.number}} {{order.deliveryAddress.complement}}</p>
                        <p>{{order.deliveryAddress.uf}} - {{order.deliveryAddress.city}} - {{order.deliveryAddress.neighborhood}}</p>
                        <p>{{order.deliveryAddress.zipCode}}</p>
                    </div>
                    <div class="col-md-4">
                        <h4>Outros</h4>
                        <p>Data de pagamento: {{ order.dtPaid | date:'dd/MM/yyyy'}}</p>
                        <p>Valor do Pedido {{ order.cart.totalPriceProducts | currency:'R$ '}}</p>
                        <p>Valor do Frete: {{ order.cart.freightCost | currency:'R$ '}}</p>
                        <p>Valor do Total {{ order.cart.freightCost + order.cart.totalPriceProducts | currency:'R$ '}}</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <form class="form-signin" name="{{order.id}}" ng-submit="prepared(order)">
                            <button class="btn btn-sm btn-success" type="submit">Preparado</button>
                        </form>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>