<html><head>
        <link rel="stylesheet" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="../../css/font-awesome.min.css">
        <link rel="stylesheet" href="../../css/custom.css">
    </head><body>
        <div class="section" ng-controller="productController">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Cadastro de Produto</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="alert alert-danger alert-dismissable" ng-if="error.message">{{error.message}}</div>
                            <div class="alert alert-dismissable alert-success" ng-if="sucess">{{sucess}}</div>
                            <form role="form">
                                <div class="form-group">
                                    <label for="category">Categoria</label>
                                    <select id="category" name="category" class="form-control" ng-change="loadProductsByCategory(product.category.id)" ng-model="product.category.id">
                                        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Nome</label>
                                    <input class="form-control" id="name" type="text" ng-model="product.name" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Descrição curta</label>
                                    <input class="form-control" id="shotDescription" type="text" ng-model="product.shotDescription" required="">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Descrição completa</label>
                                    <textarea cols="40" rows="5" class="form-control" id="description" name="description" placeholder="" ng-model="product.description"></textarea>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-success btn-block" ng-click="saveProduct()">Salvar</button>
                                </div>
                                <div class="col-xs-3">
                                    <button class="btn btn-danger btn-block" type="submit">Excluir</button>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr>
                            </div>
                        </div>
                        <div ng-if="product.id" class="row">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="page-header">
                                        <h1>SKU</h1>
                                    </div>
                                    <ol class="list-unstyled">
                                        <li ng-repeat="sku in product.skus">
                                            <div class="row">
                                                <div class="row">
                                                    <form role="form">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Nome</label>
                                                                    <input class="form-control" id="name" type="text" ng-model="sku.name">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Código</label>
                                                                    <input class="form-control" id="code" type="text" ng-model="sku.code" required="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="control-label" contenteditable="true">Peso (gramas)</label>
                                                                    <input class="form-control" id="weight" type="number" ng-model="sku.weight" required="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Quantidade</label>
                                                                    <input class="form-control" id="stock" type="number" ng-model="sku.stock" required="">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <label class="control-label">Preço</label>
                                                                    <input class="form-control" id="price" type="text" ng-model="sku.price" required="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <ol class="list-unstyled">
                                                                <li ng-repeat="image in sku.images">
                                                                    <div >
                                                                        <div ng-repeat="image in sku.images" class="form-group">
                                                                            <label class="control-label">Imagem</label>
                                                                            <input class="form-control" type="text" id="image{{image}}" ng-model="image" multiple>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                            </ol>

                                                            <div class="col-xs-3">
                                                                <button class="btn btn-info btn-block" ng-click="newImage(sku)">Adicionar Imagem</button>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div ng-include="'administrador/partials/form/' + product.category.layoutFile"></div>
                                                        </div>
                                                        <div class="row">
                                                        </div>

                                                        <div class="col-xs-3">
                                                            <button class="btn btn-success btn-block" ng-click="saveSku(sku)">Salvar</button>
                                                        </div>
                                                        <div class="col-xs-3">
                                                            <button class="btn btn-danger btn-block" ng-click="removeSku(sku)">Excluir</button>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <hr>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-3">
                                    <button class="btn btn-info btn-block" ng-click="newSku()">Adicionar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=""></div>
                    <div class="col-md-4">
                        <div class="list-group">
                            <a href="" class="list-group-item active" ng-click="clearProduct(product)">Produtos</a>
                            <div class="list-group-item" ng-repeat="product in products">
                                <!-- <a ng-click="editCategory(category)">{{category.name}}</a>-->
                                <a ng-click="editProduct(product)">{{product.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body></html>