<div class="col-md-2">
    <div class="form-group">
        <label class="control-label ng-binding">Genero</label>
        <input class="form-control" id="gender" ng-model="sku.rows.gender" type="text" required="">
    </div>
</div>
<div class="col-md-3">
    <div class="form-group">
        <label class="control-label ng-binding">Inspiração</label>
        <input class="form-control" id="inspiration" ng-model="sku.rows.inspiration" type="text" required="">
    </div>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label class="control-label ng-binding">Tipo</label>
        <input class="form-control" id="type" ng-model="sku.rows.type" type="text" required="">
    </div>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label class="control-label ng-binding">Intencidade</label>
        <input class="form-control" id="intensity" ng-model="sku.rows.intensity" type="text" required="">
    </div>
</div>
<div class="col-md-2">
    <div class="form-group">
        <label class="control-label ng-binding">mL</label>
        <input class="form-control" id="size" ng-model="sku.rows.size" type="text" required="">
    </div>
</div>
