<div class="container" ng-controller="createCustomerController">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Meus Dados
            </h3>
            <div class="row">
                <div class="col-md-7">
                    <form class="form-signin" ng-submit="submitForm(account)" ng-init="account = {}">
                        <div ng-if="error" class="alert alert-danger" role="alert">
                            <div ng-bind-html="error"></div>
                        </div>
                        <div ng-if="sucess" class="alert alert-success" role="alert">
                            <p id="sucess">{{sucess}}</p>
                        </div>
                        <div ng-include="'form/account.html'"></div>

                        <div class="form-group">
                            <label>
                                Senha:
                            </label>
                            <input id="recipient" type="password" name="password" placeholder="Senha com 8 digitos" ng-model="account.password" value="{{account.password}}" class="form-control input-md" required="" min="8" maxlength="12">
                        </div>
                        <hr>
                        <div  class="col-xs-3">
                            <button class="btn btn-success btn-block" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>