<div class="container" ng-controller="forgotPasswordController">
    <div class="row">
        <div class="col-md-12">
            <h3>
                Recuperar senha
            </h3>
            <div class="row">
                <div class="col-md-7">
                    <form class="form-signin" ng-submit="submitForm(account)" ng-init="account = {}">
                        <div ng-if="error" class="alert alert-danger" role="alert">
                            <div ng-bind-html="error"></div>
                        </div>
                        <div ng-if="sucess" class="alert alert-success" role="alert">
                            <p id="sucess">{{sucess}}</p>
                        </div>
                        <div class="form-group">
                            <label>
                                Digite o NickName(Apelido) vinculado a conta para recuperar sua senha
                            </label>
                            <input id="recipient" type="text" name="nickName"  ng-model="account.nickName" value="{{account.nickName}}" class="form-control input-md">
                        </div>
                        <hr>
                        <div class="col-xs-3">
                            <button id="sendButton" class="btn btn-success btn-block" type="submit">Recuperar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>