<div class="container" ng-controller="myAccountController">
    <div class="row">
        <div class="col-md-3">
            <div ng-include="'partials/customer/customerMenu.html'"></div>
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-7">
                        <form class="form-signin" ng-submit="submitForm(account)" ng-init="account = {}">
                            <div ng-if="error" class="alert alert-danger" role="alert">
                                <div ng-bind-html="error">{{erro}}</div>
                            </div>
                            <div ng-if="sucess" class="alert alert-success" role="alert">
                                <p id="sucess">{{sucess}}</p>
                            </div>
                            <div ng-include="'form/account.html'"></div>
                            <hr>
                            <div class="form-group">
                                <label>
                                    Senha atual:
                                </label>
                                <input id="recipient" type="password" name="password" placeholder="Senha com 8 digitos" ng-model="account.password" value="{{account.password}}" class="form-control input-md" required="" min="8" maxlength="12">
                            </div>
                            <div class="form-group">
                                <label>
                                    Nova senha:
                                </label>
                                <input id="recipient" type="password" name="password" placeholder="Senha com 8 digitos" ng-model="account.newPassword" value="{{account.password}}" class="form-control input-md"  min="8" maxlength="12">
                            </div>
                            <div class="form-group">
                                <label>
                                    Confirma nova senha:
                                </label>
                                <input id="recipient" type="password" name="password" placeholder="Senha com 8 digitos" ng-model="account.confirmPassword" value="{{account.password}}" class="form-control input-md"  min="8" maxlength="12">
                            </div>
                            <div  class="col-xs-3">
                                <button class="btn btn-success btn-block" type="submit">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>