<div class="form-group">
    <label>
        Nome:
    </label>
    <input id="recipient" type="text" name="name"  placeholder="Nome" ng-model="account.name" value="{{account.name}}" class="form-control input-md" required="">
</div>

<div class="form-group">
    <label>
        Apelido:
    </label>
    <input id="recipient" type="text" name="nickName"  placeholder="Como você deseja ser chamado?" ng-model="account.nickName" value="{{account.nickName}}" class="form-control input-md" required="">
</div>

<div class="form-group">
    <label>
        E-mail:
    </label>
    <input id="recipient" type="email" name="email"  placeholder="E-mail" ng-model="account.email" value="" class="form-control input-md" required="">
</div>

<div class="form-group">
    <label>
        CPF:
    </label>
    <input id="recipient" type="text" name="cpf" placeholder="CPF. Somente números" ng-model="account.cpf" value="{{account.cpf}}" class="form-control input-md" required="">
</div>