<hr>
<h4>
    Perfume
</h4>
<div class="form-group">
    <label for="recomendedGender">Gênero recomendado</label>
    <select id="recomendedGender" recomendedGender="layout" class="form-control" required="" ng-model="product.perfume.recomendedGender">
        <option value="Masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="Unisex">Unissex</option>
    </select>
</div>
<div class="form-group">
    <label for="inspiration">
        Inspiração
    </label>
    <input type="text" class="form-control" id="inspiration" name="inspiration" placeholder="Ex: Inspirado nas fragâncias..." required="" ng-model="product.perfume.inspiration"/>
</div>
<div class="form-group">
    <label for="typeId">Tipo</label>
    <select id="typeId"  name="typeId" class="form-control" ng-model="product.perfume.typeId">
        <option ng-repeat="type in types" value="{{type.id}}">{{type.type}}</option>
    </select>
</div>
<div class="form-group">
    <label for="intensity">Intensidade</label>
    <select id="recomendedGender" recomendedGender="layout" class="form-control" required="" ng-model="product.perfume.intensity">
        <option value="Suave">Suave</option>
        <option value="Moderado">Moderado</option>
        <option value="Intenso">Intenso</option>
    </select>
</div>
<div class="form-group">
    <label for="size">
        Tamanho (ml)
    </label>
    <input type="number" class="form-control" id="size" name="size" placeholder="Ex: 10" required="" ng-model="product.perfume.size"/>
</div>

